.homePage {
    width: 100%;
}

.homePage > section + section {
    margin-top: 20px;
}

.homePage > section:not(:first-child) {
    border-top: 1px solid var(--border-color);
    padding-top: 40px;
}

@media (max-width: 768px) {
    .homePage > section:not(:first-child) {
        padding-top: 30px;
    }
}